<div id="result">doi_ty_nhe</div>
<script type="text/javascript">
    anticaptcha = Anticaptcha('<%= @apikey %>');
    anticaptcha.setWebsiteURL('<%= @location %>');

    anticaptcha.setWebsiteKey('<%= @sitekey %>');
    anticaptcha.setWebsiteSToken('<%= @stoken %>');

    anticaptcha.setSoftId(802);
    anticaptcha.setUserAgent("Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116");

    anticaptcha.createTaskProxyless(function (err, taskId) { 
          anticaptcha.getTaskSolution(taskId, function (err, taskSolution) {
                 $('#result').html(taskSolution);
           });
    });
   

</script>