<form action="http://api.cheapcaptcha.com/api/captcha"
method="post"
enctype="multipart/form-data">
<input type="text" name="username" value=""><br>
<input type="password" name="password" value=""><br>
<input type="file" name="captchafile"><br>
<input type="submit" id="submit" value="Ok">
</form>
